.main_chat
  .main_chat_group_info
    .group_data
      .group_data_name
        test
      .group_data_member
        Member: masa
    .group_edit
      = link_to "#",class: "content__edit" do
        Edit
  
  .main_chat_message_list
    .main_chat_message_list_detail
      .main_chat_message_list_detail_name
        masa
      .main_chat_message_list_detail_date
        2019/11/20(Wed) 17:43:01
    .main_chat_message_list_contents
      おはよう！

    .main_chat_message_list_detail
      .main_chat_message_list_detail_name
        masa
      .main_chat_message_list_detail_date
        2019/11/20(Wed) 17:43:01
    .main_chat_message_list_contents
      おはよう！

    .main_chat_message_list_detail
      .main_chat_message_list_detail_name
        masa
      .main_chat_message_list_detail_date
        2019/11/20(Wed) 17:43:01
    .main_chat_message_list_contents
      おはよう！


  .main_chat_message_form
    .main_chat_message_form_new
      .main_chat_message_form_new_contents
        .main_chat_message_form_new_contents_comment 
          type a message
        .main_chat_message_form_new_contents_photo
          = icon('fa', 'image')
      .main_chat_message_form_new_send
        = link_to "#",class: "content__send" do
          Send

    

  

