.side_bar
  .side_bar_username
    .top_items
      .top_items_name
        masa
      .top_items_icons
        = link_to "#", class: "contents__btn" do
          = icon('far', 'far fa-edit')

        = link_to "#", class: "contents__btn" do
          = icon('fas', 'cog')

  .side_bar_group_list
    .group
      .group_name
        techcamp
      .group_talk
        まだメッセージがありません。


    .group
      .group_name
        techcamp
      .group_talk
        まだメッセージがありません。
    

    .group
      .group_name
        techcamp
      .group_talk
        まだメッセージがありません。
    
    
