* {
  box-sizing: border-box;
}

.side_bar{
  float: left;
  width: 300px;
  height: 100vh;
  &_username{
    height: 100px;
    background-color: #253141;
    padding-top: 35px;
    .top_items{
      margin: auto;
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &_name{
        font-size: 16px;
        color: #ffffff;
        font-weight: bold;
      }
      &_icons{
        text-align: right;
        width: 60px;
        height: 20px;
      }
        .contents__btn{
          color: #ffffff;
          padding-left: 5px;
          text-decoration: none;
        }
    }
  }
  &_group_list{
    padding: 20px 20px 0 ;
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    .group{
      margin-bottom: 40px;
      a {
        text-decoration: none;
      }
      &_name{
        color: white;
        font-size: 15px;
        margin-bottom: 5px; 
      }
      &_talk{
        color: white;
        font-size: 11px;
      }
    }     
  }
}

.main_chat{
  float: left;
  width: calc(100vw - 300px);
  height: 100vh;
  &_group_info{
    height: 100px;
    background-color: #ffffff;
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;
    display: flex;
    justify-content: space-between;
    .group_data{
      padding-top: 35px;
    
      &_name{
        font-size: 20px;
        color: #333333;
      }
      &_member{
        font-size: 12px;
        color: #999999;
        margin-top: 15px;
      }
    }
    .group_edit{
      height: 40px;
      color: #38aef0;
      font-size: 16px;
      border: solid 1px #38aef0;
      line-height: 40px;
      margin-top: 30px;
      padding: 0 20px;
    }
  }

  &_message_list{
    background-color: #fafafa;
    height: calc(100vh - 100px - 90px);
    padding-left: 40px;
    padding-top: 35px ;
    .message_list{
      &_detail{
        display: flex;
        margin-bottom: 10px;
        &_name{
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        &_date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &_contents{
        margin-top: 12px;
        margin-bottom: 10px;

        &_content{
          color: #434A54;
          font-size: 14px;
        }
        &_image{
          width: 500px;
          height: 400px;
        }
      }
    }
  }
  
  &_message_form{
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 50px 20px 40px;
    position: relative;
    .message_form_contents{
      display: flex;
      justify-content: space-between;
    }
      .comment{
        height: 50px;
        width: 100% ;
      }
      .image{
        position: fixed;
        height: 50px;
        padding-right: 10px;
        background-color: $white;
        &_photo{
          position: absolute;
          right: 190px;
          font-size: 20px;
          line-height: 50px;
        }
      }
      .content_send{
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color: #38aef0;
          text-decoration: none;
          color: white;
          line-height: 50px;
      }
  } 
}

.hidden {
  display: none;
}

.content__edit{
  text-decoration: none;
}
